.vagrant
/cookbooks

# Bundler
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml
*~
Berksfile.lock
nohup.out
.forwarded_ports
Vagrantfile
cluster.yml
.cpus
.gpus
.pubkey.pub
.idea
env.sh
# this file is used to store the path to Enterprise Hopsworks
cloud-tests/util/env.sh
.deploy.sh
